{% macro show_errors(field) -%}
    {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ error }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

    {% endif %}
{%- endmacro %}



{% macro render_string(field, value='', type='text', readonly=None,class='col-sm-8',required=true) -%}

    <div class="{{ class }}">
        <input type="{{ type }}" placeholder="{{ field.name }}" class="form-control"
                {% if readonly %} readonly {% endif %}
               {% if required %} required {% endif %}
               id="id_{{ field.name }}"
               name="{{ field.name }}" value="{{ value|e }}">
    </div>
    {{ show_errors(field) }}
{% endmacro %}


{% macro textarea(name, value='', type='text', rows=10, cols=40) -%}
    {{ show_errors(field) }}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ label }}</span>
            </div>
            <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">{{ value|e }}</textarea>
        </div>
    </div>
{%- endmacro %}


{% macro render_select(field,value='',class='col-sm-8') -%}

    <div class="{{ class }}">
        <select class="custom-select" id="id_{{ field.name }}" name="{{ field.name }}">
            <option selected>Choose...</option>
            {% for option in field.choices %}

                <option value="{{ option[0] }}" {% if value == option[0] %}
                        selected {% endif %}>{{ option[1] }}</option>
            {% endfor %}

        </select>
    </div>
    {{ show_errors(field) }}
{% endmacro %}


{% macro render_date(field,value="",class='col-sm-8') -%}
    {{ show_errors(field) }}
    <div class="{{ class }}">
        <input type="text" value="{{ value }}" readonly class=" form-control {{ field.name }}"
               name="{{ field.name }}" id="id_{{ field.name }}" data-date-format="yyyy-mm-dd ">
        <script type="text/javascript">
            $(function () {
                $("#id_{{ field.name }}").datepicker({format: 'yyyy-mm-dd', autoclose: true});
            });
        </script>
    </div>
{% endmacro %}