{% import "forms/_fields_macro.html" as form_macro %}


<form action="{{ url_for('homeRoute.pet_update') }}" method="post">
    {{ form.csrf_token }}
    <div class="form-group row">
        <label for="input_{{ form.email.name }}"
               class="col-sm-3 col-form-label">{{ form.email.label }} </label>
        {{ form_macro.render_string(form.email) }}
    </div>
    <div class="form-group row">
        <label for="input_{{ form.password.name }}"
               class="col-sm-3 col-form-label">{{ form.password.label }} </label>
        {{ form_macro.render_string(form.password,type='password') }}
    </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
