{% import "forms/_fields_macro.html" as form_macro %}


<form action="{{ url_for('homeRoute.user_update') }}" method="post">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Person Info</h4>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="input_{{ form.last_name.name }}"
                               class="col-sm-4 col-form-label">{{ form.last_name.label }} </label>
                        {{ form_macro.render_string(form.last_name,value=current_user.last_name) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.first_name.name }}"
                               class="col-sm-4 col-form-label">{{ form.first_name.label }} </label>
                        {{ form_macro.render_string(form.first_name,value=current_user.first_name) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.email.name }}"
                               class="col-sm-4 col-form-label">{{ form.email.label }} </label>
                        {{ form_macro.render_string(form.email,value=current_user.email,readonly=true) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.phone.name }}"
                               class="col-sm-4 col-form-label">{{ form.phone.label }} </label>
                        {{ form_macro.render_string(form.phone,value=current_user.phone) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.home_number.name }}"
                               class="col-sm-4 col-form-label">{{ form.home_number.label }} </label>
                        {{ form_macro.render_string(form.home_number,value=current_user.home_number) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.work_number.name }}"
                               class="col-sm-4 col-form-label">{{ form.work_number.label }} </label>
                        {{ form_macro.render_string(form.work_number,value=current_user.work_number) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.dob.name }}"
                               class="col-sm-4 col-form-label">{{ form.dob.label }} </label>
                        {{ form_macro.render_date(form.dob,value=current_user.dob.date()) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.gender.name }}"
                               class="col-sm-4 col-form-label">{{ form.gender.label }} </label>
                        {{ form_macro.render_select(form.gender,value=current_user.gender) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Address Info</h4>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label for="input_{{ form.city.name }}"
                               class="col-sm-3 col-form-label"> {{ form.city.name }} </label>
                        {{ form_macro.render_string(form.city,value=current_user.address.city) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.street.name }}"
                               class="col-sm-3 col-form-label">{{ form.street.name }}</label>
                        {{ form_macro.render_string(form.street,value=current_user.address.street) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.post_code.name }}"
                               class="col-sm-3 col-form-label">{{ form.post_code.name }}</label>
                        {{ form_macro.render_string(form.post_code,value=current_user.address.post_code) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
