{% macro appt_li(appt,date) -%}
    <div class="row">
        <h5 class="col-md-2">
            <span class="badge badge-Info">User Name</span><br>
            {{ appt.get("user") }}
        </h5>
        <h6 class="col-md-2">
            <span class="badge badge-Info">Phone</span><br>
            {{ appt.get("phone") }}
        </h6>
        <h6 class="col-md-2">
            <span class="badge badge-Info">Address</span><br>
            {{ appt.get("address").get("street") }}
        </h6>
        <h6 class="col-md-2"><span class="badge badge-Info">Time</span><br>
            {{ appt.get("time") }}
        </h6>
        <h6 class="col-md-3"><span class="badge badge-Info">Service</span><br>
            {% for sappt_service in appt.get("services") %}
                <span class="badge badge-success">{{ sappt_service }}</span>
            {% endfor %}
        </h6>
    </div>
    <div class="row">
        <h6 class="col-md-2">
            <span class="badge badge-Info">Pet Name</span><br>
            {{ appt.get("pet").get("name") }}
        </h6>
        <h6 class="col-md-2">
            <span class="badge badge-Info">DOB</span><br>
            {{ appt.get("pet").get("dob") }}
        </h6>
        <h6 class="col-md-2">
            <span class="badge badge-Info">Breed</span><br>
            {{ appt.get("pet").get("breed") }}
        </h6>
        <h6 class="col-md-2">
            <span class="badge badge-Info">Gender</span><br>
            {{ appt.get("pet").get("gender") }}
        </h6>

        <div class="col-md-1">
            <div class="btn-group" role="group">
                {% if appt.get("status") == "Done" %}
                     <a class="btn btn-dark btn-sm disabled"
                   href="#"> Finished </a>
                    {% else %}
                     <a class="btn btn-outline-primary btn-lg"
                   href="{{ url_for("adminRoute.appt_finish",date=date,appt_id=appt.get("id")) }}"> Mark Complete </a>
                {% endif %}

            </div>
        </div>
    </div>
{%- endmacro %}
