<li class="list-group-item">
        <div class="row">
            <div class="col-md-3">
                <p><span class="badge badge-primary col-md-4">User Name</span> Name </p>
                <p><span class="badge badge-primary col-md-4">Address</span> Address </p>
            </div>
            <div class="col-md-2">
                <p><span class="badge badge-primary col-md-4">Pet</span> Address </p>
                <p><span class="badge badge-primary col-md-4">Dob</span> Address </p>
            </div>
            <div class="col-md-2">
                <p><span class="badge badge-primary col-md-4">Breed</span> Address </p>
                <p><span class="badge badge-primary col-md-4">Gender</span> Address </p>
            </div>
            <div class="col-md-4">
                <p><span class="badge badge-primary col-md-4">Time</span> Time </p>
                <p><span class="badge badge-primary col-md-4">Service</span> Service </p>
            </div>
            <div class="col-md-1">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary btn-sm disabled" href="#"> Finished </a>
                </div>
            </div>
        </div>