{% import "forms/_fields_macro.html" as form_macro %}

<div class="modal fade" id="service_form" tabindex="-1" role="dialog" aria-labelledby="petModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for("adminRoute.service_update") }}" method="post" id="service_form">
                    {{ form.csrf_token }}
                    <div class="form-group row">
                        <label for="input_{{ form.id.name }}"
                               class="col-sm-4 col-form-label">{{ form.id.label }} </label>
                        {{ form_macro.render_string(form.id,readonly=true) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.type.name }}"
                               class="col-sm-4 col-form-label">{{ form.type.label }} </label>
                        {{ form_macro.render_string(form.type) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.desc.name }}"
                               class="col-sm-4 col-form-label">{{ form.desc.label }} </label>
                        {{ form_macro.render_string(form.desc) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.fee.name }}"
                               class="col-sm-4 col-form-label">{{ form.fee.label }} </label>
                        {{ form_macro.render_float(form.fee) }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="modal-submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>