{% extends "admin/admin_base.html" %} {% block title %} {{ config.DEFAULT_APP_NAME }} - Appointment Admin {% endblock %}
{% block content %}
<div class="card ">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <h4> My Appointment List </h4>
            </div>


            <div class="col-md-3">
                <div class="input-group input-group-default">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                    </div>
                    <input type="text" readonly class=" form-control" style="background-color: #2e6da4;color:#fff;" id="id_date_filter" data-date-format="yyyy-mm-dd"
                        value="{{ date }}">
                </div>
                <script type="text/javascript">
                    $(function () {
                        $("#id_date_filter").datepicker({ format: 'yyyy-mm-dd', autoclose: true });
                    });
                </script>
            </div>


        </div>

    </div>
    <ul class="list-group list-group-flush" id="appt_list">
        
        <!-- {% if appt_list.__len__() > 0 %}
                {% for appt in appt_list %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                {{ appt.appt_date }}
                            </div>
                            <div class="col-md-2">
                                {{ appt.appt_timeslot.slot }}
                            </div>
                            <div class="col-md-3">
                                {% for mapping in appt.appt_service %}
                                    {{ mapping.service.type }}<br>
                                {% endfor %}

                            </div>
                            <div class="col-md-2">
                                {{ appt.status }}<br>
                            </div>

                            <div class="col-md-3">
                                <div class="btn-group" role="group">
                                    {% if appt.status != "Done" %}
                                        <a class="btn btn-warning"
                                           href="#">
                                            Reschedule
                                        </a>
                                        <a class="btn btn-danger"
                                           href="#">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">No Appointment today.</li>
            {% endif %} -->

    </ul>
</div>
<script type=text/javascript>
        $(function () {
            function appt_li(item) {
                const url_pre = '{{ url_for("adminRoute.appt_finish") }}'+"?appt_id="+item.id+"&date=" + $('#id_date_filter').val();
                console.log(url_pre);
                console.log(item.status);
                let html = '<li class="list-group-item"><div class="row">'
                    + '<div class="col-md-2">' + item.user + '<br>' + item.phone
                    + '</div><div class="col-md-2">' + item.address
                    + '</div><div class="col-md-2"><span class="badge badge-success">' + item.time
                    + '</span></div><div class="col-md-2"><ul class="list-group">' ;
                item.services.forEach(element => {
                    html += ' <li class="list-group-item" style="padding:0px;font-size:12px;"><span class="badge badge-success">'+ element +'</span></li>'
                });
                html+= '</ul></div>'
                    if(item.status == "Done"){
                        html+='<div class="col-md-2"><span class="badge badge-success">' + item.status
                        + '</span></div><div class="col-md-2"><div class="btn-group" role="group"><a class="btn btn-primary disabled" href="#"> Finished </a>';
                    }else{
                        html+='<div class="col-md-2"><span class="badge badge-warning">' + item.status
                        + '</span></div><div class="col-md-2"><div class="btn-group" role="group"><a class="btn btn-primary" href="' + url_pre 
                    + '"> Finish </a>'
                    }
                    return html;
            }

            function update_appt_list(data) {
                $("#appt_list").children('li').remove();
                if(data.list.length ==0 ){
                    $("#appt_list").append('<li class="list-group-item">No Appointment on '+ $('#id_date_filter').val()+' .</li>');
                    return true;
                }
                $.each(data.list, function (i, item) {
                    const li_html = appt_li(item);
                    console.log(li_html);
                    $("#appt_list").append(li_html);
                });
                return true;
            }

            $('#id_date_filter').bind('change', function () {
                $.getJSON('{{ url_for("adminRoute.appt_by_date") }}', {
                    date: $('#id_date_filter').val()
                }, update_appt_list);
                return false;
            });

            $(function () {
                    $.getJSON('{{ url_for("adminRoute.appt_by_date") }}', {
                        date: $('#id_date_filter').val()
                    }, update_appt_list);
                    return false;
            });
        });

    </script> {% endblock %}