{% extends "admin/admin_base.html" %}
{% import "admin/_appt_list.html" as li_generate %}

{% block title %} {{ config.DEFAULT_APP_NAME }} - Appointment Admin {% endblock %}

{% block content %}
    <div class="card ">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <h4> My Appointment List </h4>
                </div>
                <div class="col-md-3">
                    <div class="input-group input-group-default">
                        <div class="input-group-prepend">
                            <span class="input-group-text alert-heading" id="inputGroup-sizing-default"
                                  style="font-size:16px; ">
                                Date</span>
                        </div>
                        <input type="text" readonly class=" form-control" style="background-color: #2e6da4;color:#fff;"
                               id="id_date_filter" data-date-format="yyyy-mm-dd"
                               value="{{ date }}">
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $("#id_date_filter").datepicker({format: 'yyyy-mm-dd', autoclose: true});
                            $('#id_date_filter').bind('change', function () {
                                const pre_url = "{{ url_for("adminRoute.appt") }}";
                                window.open(pre_url + "?date=" + $("#id_date_filter").val(), "_self");
                            });
                        });
                    </script>
                </div>


            </div>

        </div>
        <ul class="list-group list-group-flush" id="appt_list" style="font-size: 14px;">
            <li class="list-group-item">
                {% for appt in appt_list %}
                    {{ li_generate.appt_li(appt,date) }}
                {% else %}
                    No Appointment on {{ date }}.
                {% endfor %}
            </li>
        </ul>
    </div>
{% endblock %}