{% import "forms/_fields_macro.html" as form_macro %}

<div class="modal fade" id="pet_form" tabindex="-1" role="dialog" aria-labelledby="petModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for("homeRoute.pet_update") }}" method="post">
                    {{ form.csrf_token }}
                    <div class="form-group row">
                        <label for="input_{{ form.name.id }}"
                               class="col-sm-4 col-form-label">{{ form.id.label }} </label>
                        {{ form_macro.render_string(form.id,readonly=true) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.name.name }}"
                               class="col-sm-4 col-form-label">{{ form.name.label }} </label>
                        {{ form_macro.render_string(form.name) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.gender.name }}"
                               class="col-sm-4 col-form-label">{{ form.gender.label }} </label>
                        {{ form_macro.render_select(form.gender) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.breed.name }}"
                               class="col-sm-4 col-form-label">{{ form.breed.label }} </label>
                        {{ form_macro.render_string(form.breed) }}
                    </div>
                    <div class="form-group row">
                        <label for="input_{{ form.dob.name }}"
                               class="col-sm-4 col-form-label">{{ form.dob.label }} </label>
                        {{ form_macro.render_date(form.dob) }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>