{% extends "home/appt_base.html" %}


{% block title %} {{ config.DEFAULT_APP_NAME }} - Appointment {% endblock %}

{#{% block main_content %}#}
{#    {% include "forms/user_profile.html" with context %}#}
{#{% endblock %}#}

{% block main_content %}
    <div class="card ">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <h4> My Appointment List </h4>
                </div>
            </div>

        </div>
        <ul class="list-group list-group-flush">
            {% if appt_list.__len__() > 0 %}
                {% for appt in appt_list %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                    <span class="badge badge-primary">{{ appt.appt_date }}<br>
                                    {{ appt.appt_timeslot.slot }}</span>
                            </div>
                            <div class="col-md-3">
                                {% for mapping in appt.appt_service %}
                                    <span class="badge badge-primary">{{ mapping.service.type }}</span>
                                {% endfor %}

                            </div>
                            <div class="col-md-2">
                                <span class="badge badge-{% if appt.status == "Done" %}primary{% else %}warning{% endif %}">
                                    {{ appt.status }}
                                </span>
                            </div>

                            <div class="col-md-3">
                                <div class="btn-group" role="group" >
                                    {% if appt.status != "Done" %}
                                        <a class="btn btn-warning" style="font-size: 14px;"
                                           href="{{ url_for("homeRoute.appt_update",appt_id=appt.id) }}">
                                            Reschedule
                                        </a>
                                        <a class="btn btn-danger" style="font-size: 14px;"
                                           href="{{ url_for("homeRoute.appt_delete",appt_id=appt.id) }}">Cancel</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">No Appointment under this accound.</li>
            {% endif %}
        </ul>
    </div>


{% endblock %}