{% extends "home/management_base.html" %}


{% block title %} {{ config.DEFAULT_APP_NAME }} - Pet Management {% endblock %}

{#{% block main_content %}#}
{#    {% include "forms/user_profile.html" with context %}#}
{#{% endblock %}#}

{% block main_content %}
    {#    <div class="row" style="padding-top: 50px;">#}
    {#        <div class="col-md-10 ">#}
    {#            <div class="col-md-10">#}
    <div class="card ">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <h4> Pets </h4>
                </div>
                <div class="col-md-3">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#pet_form"
                                data-action="Add">
                            Add New Pet
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <ul class="list-group list-group-flush">
            {% if pet_list.__len__() > 0 %}
                {% for pet in pet_list %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                {{ pet.name }}
                            </div>
                            <div class="col-md-2">
                                {{ pet.breed }}
                            </div>
                            <div class="col-md-2">
                                {{ pet.gender }}
                            </div>
                            <div class="col-md-3">
                                {{ pet.dob }}
                            </div>
                            <div class="col-md-3">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-info" data-toggle="modal"
                                            data-target="#pet_form"
                                            data-id="{{ pet.id }}"
                                            data-name="{{ pet.name }}"
                                            data-breed="{{ pet.breed }}"
                                            data-gender="{{ pet.gender }}"
                                            data-dob="{{ pet.dob }}"
                                            data-action="Update">
                                        Update
                                    </button>
                                    <a class="btn btn-danger"
                                       href="{{ url_for("homeRoute.pet_delete",pet_id=pet.id) }}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">No Pet under this accound.</li>
            {% endif %}
        </ul>
    </div>

    {% include "home/_pet_modal.html" %}
    <script>
        $('#pet_form').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var dob = button.data('dob');
            var breed = button.data('breed');
            var gender = button.data('gender');
            var action = button.data('action');
            var modal = $(this);

            if (action) {
                modal.find('.modal-title').text(name);
                modal.find('#id_id').val(id);
                modal.find('#id_name').val(name);
                modal.find('#id_breed').val(breed);
                modal.find('#id_dob').val(dob);
                modal.find('#id_gender').val(gender);
                if (action == "Update") {
                    modal.find('#modal-submit').html(action);
                    modal.find('#pet_action').attr('action', "{{ url_for("homeRoute.pet_update") }}");
                } else if (action == "Add") {
                    modal.find('#id_id').val(0);
                    modal.find('#modal-submit').html(action);
                    modal.find('#pet_action').attr('action', "{{ url_for("homeRoute.pet_add") }}");
                }

            }
        })
    </script>
{% endblock %}
